body{
    margin:80px 0 80px 0;
}

.align-center{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}

.navbar-footer-menu{
    list-style:none;
    margin:0;
    padding:0;
    text-align: center;
    line-height:50px;
}

.navbar-footer-menu li{
    display:inline-block;
    width:30%;
}